.header {
    text-align: center;
}

.h1 {
    text-align: center;
}

.nav {
    /*overflow: hidden;
    background-color: #333;*/
}

.nav a {
    float: left; /*make sure links stay side by side*/
    color: white;
    /*display: inline-block;
    text-align: center;
    padding: 30px 30px;
    padding-bottom: 30px;
    */
    text-decoration: none; /*remove underline*/
}

* {
    box-sizing: border-box;
}
.row::after {
    display: flex;
    /*content:"";
    clear: both;
    display: table;*/
}

.column {
    /*float: left;
    width: 33.33%;
    padding: 5px;*/
    flex: 33.33%;
    padding: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}


/* Change this breakpoint if you change the breakpoint of the navbar 

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* Other styles for the page not related to the animated dropdown 

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
*/