.header {
    text-align: center;
}

.h1 {
    text-align: center;
}

.nav {
    /*overflow: hidden;
    background-color: #333;*/
}

.nav a {
    float: left; /*make sure links stay side by side*/
    color: white;
    /*display: inline-block;
    text-align: center;
    padding: 30px 30px;
    padding-bottom: 30px;
    */
    text-decoration: none; /*remove underline*/
}

* {
    box-sizing: border-box;
}
.row::after {
    display: flex;
    /*content:"";
    clear: both;
    display: table;*/
}

.column {
    /*float: left;
    width: 33.33%;
    padding: 5px;*/
    flex: 33.33%;
    padding: 5px;
}

.video {
	border: black 2px solid;
}

.trInfo {
	padding: 10px;
	padding-left: 30px;
}
.trInfo p {
	font-size: 18px;
}
.hikes {
	background: #D1D4D8;
	padding-left: 5rem;
	left: 1rem;
	width: 45rem;
	position: absolute;
	margin: 2px;
	margin-left: 2rem;
}
img {
	padding: 5px;
}
.pillpictures {
	padding: 10px;
	top: 130px;
	position: absolute;
	left: 500px;
}

.hikepictures {
	padding: 10px;
	top: 130px;
	bottom: 64px;
	padding-right: 5px;
	position: absolute;
	left: 800px;
}

.common {
	position: absolute;
}
.leftmenu {
	top: 150px;
	left: 5px;
	width: 200px;
	z-index: 1;
	padding-top: 45px;
}

.mainbody {
	background:#EEEEEE; 
	top: 150px;
	left: 214px;
	right: 214px;
	padding-right: 5px;
}
.rightbody {
	top: 150px;
	right: 5px;
	width: 200px;
	padding-left: 10px;
}
.form {
	bottom: 5px;
	height: 150px;
	left: 5px;
	right: 5px;
	color: #000011;
	position: absolute;
}
.form h3 {
	padding-left: 62px;
}